<%- include("partials/header") -%>

<div class="container">
    <h1>Contact</h1>
    <br>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum at varius vel pharetra vel turpis nunc eget lorem. Aliquet nibh praesent tristique magna sit amet purus gravida. Consectetur libero id faucibus nisl tincidunt eget nullam non. Elit duis tristique sollicitudin nibh sit amet. Fusce ut placerat orci nulla pellentesque. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros. Massa ultricies mi quis hendrerit dolor magna eget est. In cursus turpis massa tincidunt dui. Nullam eget felis eget nunc lobortis mattis aliquam faucibus purus. Egestas diam in arcu cursus euismod. Velit ut tortor pretium viverra suspendisse. Molestie a iaculis at erat pellentesque adipiscing commodo elit at. Adipiscing at in tellus integer feugiat scelerisque. Aliquet sagittis id consectetur purus ut faucibus pulvinar elementum integer.</p>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum at varius vel pharetra vel turpis nunc eget lorem. Aliquet nibh praesent tristique magna sit amet purus gravida. Consectetur libero id faucibus nisl tincidunt eget nullam non. Elit duis tristique sollicitudin nibh sit amet. Fusce ut placerat orci nulla pellentesque. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros. Massa ultricies mi quis hendrerit dolor magna eget est. In cursus turpis massa tincidunt dui. Nullam eget felis eget nunc lobortis mattis aliquam faucibus purus. Egestas diam in arcu cursus euismod. Velit ut tortor pretium viverra suspendisse. Molestie a iaculis at erat pellentesque adipiscing commodo elit at. Adipiscing at in tellus integer feugiat scelerisque. Aliquet sagittis id consectetur purus ut faucibus pulvinar elementum integer.</p>
<br>
</div>


<%- include("partials/footer") -%>